@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Slabo+27px');

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    
}

div.homeview {
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 3px grey;
    
}

header.homeheader {
    width: 100%;
    height: 350px;
/*    background-color: #009688;*/
    background-image: url(../homeheader_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1000;
    
}

.overlay {
    background:rgba(0, 0, 0, .60);
    width: inherit;
    height: inherit;
}

.titlepage {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    
}

.title {
    font-family: 'Slabo 27px', sans-serif;
    font-weight: lighter;
    position: relative;
    text-align: center;
    margin: 0 0 0;
    color: white;
    font-size: 350%;
    
}

.subtitle {
    font-family: 'Slabo 27px', sans-serif;
    color: white;
    font-style: italic;
    margin-left: 50%;
    
}

/*TODO

 - MEJORAR EL FLEX Y VER VIDEO DEVTIPS - DONE!
 - ORGANIZAR BOTONES - DONE!
 - PREPARAR VISUAL PARA LAS DEMÁS PÁGINAS
 - CREAR TRANSICIONES ENTRE PÁGINAS CON JQUERY
 - IMPORTAR CARACTERÍSTICAS DEL JS PARA LAS NOTICIAS
 - PREPARAR CONEXIÓN CON BASE DE DATOS FIREBASE
 - IDEAR PÁGINAS DE LOGIN Y SINGIN PARA LAS CUENTAS
 - PREPARA API DE AUTENTIFICACIÓN DE GOOGLE
 - HACER TODO RESPONSIVO
 - PASAR PROYECTO A CORDOVA PARA ANDROID E IOS*/

.flex-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 15px;
    
}

.flex-icons-trigger {
    transform: translateX(-100%);
    transition: transform 600ms ease-in-out;
    
}

.element {
    background-color: #E0E0E0;
    width: 150px;
    height: 150px;
    margin: 7px 7px 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
}

.element:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    
}

.element:hover .fa-list {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element:hover .fa-plus-circle {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element:hover .fa-minus-circle {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element:hover .fa-star {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element-title {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    
}

.fa-list {
    font-size: 500%;
    color: #424242;
    
}

.fa-plus-circle {
    font-size: 500%;
    color: #4CAF50;
    
}

.fa-minus-circle {
    font-size: 500%;
    color: #D32F2F;

}

.fa-star {
    font-size: 500%;
    color: #FFB300;
    
}

.line-break {width: 100%;}

.ctitle {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-weight: 100;
    margin-bottom: 4px;
    text-align: center;
    font-size: 26px;
    
}

.chr {
    margin-top: 4px;
    color: #00695C;
    background-color: #00695C;
    border: 0;
    height: 1px;
    width: 150px;
}

.cicons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.cicons i {
    font-size: 35px;
    padding: 4px 4px 10px 10px;
    
}

.clink {color: black;}

.cicons i:hover {
    color: #212121;
    font-size: 37px;
    transition: font-size 150ms ease-in-out, color 150ms ease-in-out, text-shadow 150ms ease-in-out;
    text-shadow: 1px 1px 1px #616161;
    
}


.credits {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 11px;
    text-align: center;
    color: #212121;
    
}

/*LIST OF RSS*/

.listpage {
    width: 100%;
    
}

.listpage-slideup {
    transition: height 300ms ease-in-out;
    
}

.listheader {
    height: 0px; /*150px*/
    background-color: #009688;
    box-shadow: 0 2px 13px rgba(0,0,0,.50);
    position: relative;
    
}

@keyframes listheaderslide {
    
    from {height: 0px;}
    to{height: 50px;}
    
}

.listheader-title {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 0;
    padding-left: 15px;
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.backarrow {
    font-size: 22px;
    padding-left: 7px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    
}

/*.listheader:hover {
    height: 50px;
    transition: height 300ms ease-in-out;
    
}*/

.list-container {
/*    height: 400px;*/
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    
}

.table-list {
    border-collapse: collapse;    
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
    width: 65vw;
    min-width: 320px;
    overflow-x: auto;
    
}

.table-list th, tr, td {
    border-bottom: 1px solid rgba(0, 150, 136, .35);
    padding: 7px 7px 7px 15px;
    text-align: left;
    vertical-align: middle;
}

.table-list tr:not(:first-child) {cursor: pointer;}

.table-list th {
    background-color: #80CBC4;
    
}

.table-list th:first-child {border-top-left-radius: 3px;}
.table-list th:nth-child(3) {border-top-right-radius: 3px;}

.table-list tr:hover {
    background-color: #E0F2F1;
    transition: background-color 150ms ease-in-out;
    
}

.addsource {
    background-color: rgba(255,255,255,.40);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
}

.formbox {
    width: 50%; /*500px*/
    min-width: 300px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.50);
  
}

.formtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
    padding-left: 22px;
}

.sourcelink {
    margin-left: 22px;
    width: 87%;
    height: 30px;
    border: 1px solid #009688;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.20) inset;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;

}

.selector-container {
    position: absolute;
    margin-left: 22px;
    margin-top: 11px;

}

.rss, .atom {
    display: inline;
    background-color: #eeeeee;
    border: 1px solid #03a9f4;
    padding: 4px 6px 4px 6px;
    font-family: 'Roboto', sans-serif;
    
}

/*MEDIA QUERIES*/

@media(max-width: 492px) { /*358*/
    .flex-icons {
        padding-top: 10px;
        padding-bottom: 10px;
        transition: padding-top 150ms ease-in-out;
        
    }
    
    header.homeheader {
        height: 150px;
        transition: height 150ms ease-in-out;
    }
}

@media(max-width: 328px) {
    .element {
        width: 280px;
        transition: height 150ms ease-in-out;
    }
}