@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Slabo+27px');

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    
}

div.homeview {
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 3px grey;
    
}

header.homeheader {
    width: 100%;
    height: 350px;
/*    background-color: #009688;*/
    background-image: url(../homeheader_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.overlay {
    background:rgba(0, 0, 0, .60);
    width: inherit;
    height: inherit;
}

.titlepage {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    
}

.tittle {
    font-family: 'Slabo 27px', sans-serif;
    font-weight: lighter;
    position: relative;
    text-align: center;
    margin: 0 0 0;
    color: white;
    font-size: 350%;
    
}

.subtitle {
    font-family: 'Slabo 27px', sans-serif;
    color: white;
    font-style: italic;
    margin-left: 50%;
    
}

/*TODO

 - MEJORAR EL FLEX Y VER VIDEO DEVTIPS - DONE!
 - ORGANIZAR BOTONES - DONE!
 - PREPARAR VISUAL PARA LAS DEMÁS PÁGINAS
 - CREAR TRANSICIONES ENTRE PÁGINAS CON JQUERY
 - IMPORTAR CARACTERÍSTICAS DEL JS PARA LAS NOTICIAS
 - PREPARAR CONEXIÓN CON BASE DE DATOS FIREBASE
 - IDEAR PÁGINAS DE LOGIN Y SINGIN PARA LAS CUENTAS
 - PREPARA API DE AUTENTIFICACIÓN DE GOOGLE
 - HACER TODO RESPONSIVO
 - PASAR PROYECTO A CORDOVA PARA ANDROID E IOS*/

.flex-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 15px;

}

.element {
    background-color: #E0E0E0;
    width: 150px;
    height: 150px;
    margin: 7px 7px 7px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
}

.element:hover {
    box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 6px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    
}

.element:hover .fa-list {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element:hover .fa-plus-circle {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element:hover .fa-minus-circle {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element:hover .fa-star {
    text-shadow: 0px 3px 2px #9E9E9E;
    transition: text-shadow 150ms ease-in-out;
    
}

.element-title {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    
}

.fa-list {
    font-size: 500%;
    color: #424242;
    
}

.fa-plus-circle {
    font-size: 500%;
    color: #4CAF50;
    
}

.fa-minus-circle {
    font-size: 500%;
    color: #D32F2F;

}

.fa-star {
    font-size: 500%;
    color: #FFB300;
    
}

.line-break {width: 100%;}

.ctitle {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-weight: 100;
    margin-bottom: 4px;
    text-align: center;
    font-size: 26px;
    
}

.chr {
    margin-top: 4px;
    color: #00695C;
    background-color: #00695C;
    border: 0;
    height: 1px;
    width: 150px;
}

.cicons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.cicons i {
    font-size: 35px;
    padding: 4px 4px 10px 10px;
    
}

.clink {color: black;}

.cicons i:hover {
    color: #212121;
    font-size: 37px;
    transition: font-size 150ms ease-in-out, color 150ms ease-in-out, text-shadow 150ms ease-in-out;
    text-shadow: 1px 1px 1px #616161;
    
}


.credits {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 11px;
    text-align: center;
    color: #212121;
    
}

@media(max-width: 358px) {
    .flex-icons {
        padding-top: 10px;
        padding-bottom: 10px;
        transition: padding-top 150ms ease-in-out;
        
    }   
}